<!DOCTYPE html>
<html>
<head>
    <title>Mega Desk</title>
    <link href="~/Styles/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header>
            <h1>Mega Desk</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy; @DateTime.Now.Year Mega Desk
        </footer>
    </div>
</body>
</html>